.Project {
    border: 1px black solid;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.Project.type1{
    background-color: white;
}
.Project.type2{
    background-color: rgba(0,0,0,0.2);
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Project.type2 .title{
    font-size: 11px;
    text-align: center;
}

.Project .info{
    position:absolute;
    top:5px;
    width:12px;
    height:12px;
    right:5px;
    border: 1px solid rgba(0,0,0,0.25);
    text-align:center;
    line-height: 12px;
    border-radius: 6px;
}
.Project .info:hover
{
    background-color: rgba(0,0,0,0.50);
    color: white;
}


.Project .durationMinus
{
    position:absolute;
    bottom:5px;
    width:12px;
    height:12px;
    left:5px;
    border: 1px solid rgba(0,0,0,0.25);
    text-align:center;
    line-height: 12px;
    border-radius: 6px;
}
.Project .durationMinus:hover
{
    background-color: rgba(0,0,0,0.50);
    color: white;
}
.Project .durationPlus
{
    position:absolute;
    bottom:5px;
    width:12px;
    height:12px;
    right:5px;
    border: 1px solid rgba(0,0,0,0.25);
    text-align:center;
    line-height: 12px;
    border-radius: 6px;
}
.Project .durationPlus:hover
{
    background-color: rgba(0,0,0,0.50);
    color: white;
}

.Project .title {
    flex-basis: 100%;
    margin: 4px;
    width:100%;
    padding:4px;
    border: 0px solid white;
    background: none;
    height: 10px;
}

.week .Project {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
}

.ProjectContainer .Project{
    position: relative;
    width: 100% !important;
}

.Project .properties {
    border: 0px black solid;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.Project .property {
    border: 0px black solid;
    margin: 1px;
    display: flex;
    flex-wrap: wrap;
}