.Planning{
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
  }
.subtitle{
    flex-basis: 100%;
    margin-top: 20px;
}
.week{
    height: 100px;
    width: 52px;
    border: 1px solid white;
    box-sizing:border-box;
    position: relative;
    margin:2px;
    margin-top:30px;
    border-radius:10px;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.weekTitle{
    position: absolute;
    top: -2px;
    transform: translateY(-100%);
    left: 0;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}