.Planning{
    overflow-y: auto;
  }


.week{
    height: 80px;
    width: 80px;
    border: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    box-sizing:content-box;
    position: relative;
    margin:2px;
    margin-top:30px;
    border-radius:10px;
    background-color: rgba(0,0,0,0.1);
}

.weekTitle{
    position: absolute;
    top: -2px;
    transform: translateY(-100%);
    left: 0;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}