.AppContainer{
  display: flex;
  width:100%;
  height:100%;
  background-color: #aaaaaa;
}
.Window{ 
  background-color: #cccccc;
  margin:10px;
  padding: 10px;
  box-sizing: border-box;
  border:1px solid #666666;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.ProjectsContainer{
  flex-grow: 0;
}
.PlanningContainer{
  flex-grow: 1;
}
.PropertiesContainer{
  flex-grow: 0;
}


.Project {
  border: 1px black solid;
  width: 200px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}
.Project .title {
  flex-basis: 100%;
  margin: 5px;
}

.Project .properties {
  border: 0px black solid;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.Project .property {
  border: 0px black solid;
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
}

.Properties {
  border: 1px black solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Properties .property {
  border: 1px black solid;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}
.Properties .title {
  flex-basis: 100%;
  margin: 5px;
}

.Properties .type {
  border: 1px black solid;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.Bin{
  border: 1px black solid;
  margin: 5px;
  width:100px;
  height:100px;
}
