.AppContainer{
  display: flex;
  width:100%;
  height:100%;
  background-color: #aaaaaa;
}
.Window{ 
  background-color: #cccccc;
  margin:10px;
  padding: 10px;
  box-sizing: border-box;
  border:1px solid #666666;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.ProjectsContainer{
  flex-grow: 0;
}
.PlanningContainer{
  flex-grow: 1;
  display:flex;
  flex-direction: column;
}
.PropertiesContainer{
  flex-grow: 0;
}

.Bin{
  border: 1px black solid;
  margin: 5px;
  width:100px;
  height:100px;
}

.button{
  border: 1px black solid;
  margin: 5px;
  padding: 5px;
  background-color: white;
}
